@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3498db;
}

.wrapper{
  height: 260px;
  background: #fff;
  max-width: 410px;
  border-radius: 7px;
  padding: 16px 25px;
  transition: height 0.2s ease;
}

.wrapper.active{
  height: 580px;
}

header h1{
  font-size: 21px;
  font-weight: 500;
}

header p{
  font-size: 16px;
  color: #474747;
  margin-top: 5px;
}

.wrapper .form{
  margin: 20px 0 25px;
}

.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.form input{
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
}

.form button{
  margin-top: 20px;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  background: #3498db;
}

.wrapper .qr-code{
  display: flex;
  opacity: 0;
  pointer-events: none;
  padding: 33px 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}